@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    transition: all 0.3s;
    font-family: 'Rubik', sans-serif;
}

.navbar a {
    transition: .5s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.hero-bottom,
.submit-button,
.project-container,
#skills h1 {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
}

.logo,
.hero-left,
.about-right,
.service-container,
.input-left {
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.hero-right,
.about-img,
.input-right,
.social-link,
.footer {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

.submit-button:hover {
    scale: 95%;
}

#projects h1,
.skills-container,
#contact h1,
.service-heading,
.about-top {
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

.menu-section {
    opacity: 0;
    animation: slideRight .5s ease forwards;
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}